
@{
    Layout = null;
}
@model Rainbow.Models.sys_action
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/bundles/modulescss")
</head>
<body>
    <div class="wrapper wrapper-content animated fadeInUp">
        <!-- 推广效果评估 -->

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-tasks"></i> 系统操作行为管理</h5>
                        <p class="pull-right">
                            <button class="btn btn-success btn-xs op" op="add"><i class="fa fa-plus"></i> 新增</button>
                            <button type="button" id="paixu" class="btn btn-primary btn-xs op" op="edit"><i class="fa fa-sort-amount-asc"></i> 修改</button>
                            <button type="button" class="btn btn-danger btn-xs op" op="delete"><i class="fa fa-sort-amount-asc"></i> 删除</button>
                        </p>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal clearfix" id="searchform">
                            <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                <label class="col-sm-4 control-label">适用设备</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="devices" name="devices">
                                        <option value="">全部设备</option>
                                        <option value="19">小米5</option>
                                        <option value="22">iphone5s</option>
                                        <option value="22">iphone6</option>
                                        <option value="20">iphone6s-plus</option>
                                        <option value="20">iphone7</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                <label class="col-sm-4 control-label tr">行为编码</label>

                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.actioncode, new { @class = "form-control", @placeholder = "行为编码" })
                                    <input type="hidden" id="actioncodeSearch" value="like" />
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                <label class="col-sm-4 control-label tr">行为名称</label>

                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.actionname, new { @class = "form-control", @placeholder = "行为名称" })
                                    <input type="hidden" id="actionnameSearch" value="like" />
                                </div>
                            </div>


                            <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                <div class="col-sm-12 col-sm-offset-2">
                                    <button class="btn btn-primary op" type="button" op="search">查询</button>
                                </div>
                            </div>
                        </form>

                        <hr />

                        <div class="jqGrid_wrapper">
                            <table id="list4"></table>
                            <div id="gridPager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 内容部分end -->
    </div>
</body>
<!-- 全局js -->
@Scripts.Render("~/jquery")
@Scripts.Render("~/bundles/modulejs")
<script type="text/javascript">
    $(function () {
        //初始化jqgrid的样式
        $.jgrid.defaults.styleUI = 'Bootstrap';
        var gridid = "#list4";
        //构造crud的对象
        var mycrud = new crud('@Url.Action("GetData", "ActioninfoManager")');
        //表头
        var coltitle = ['', '行为编码', '行为名称', '创建日期'];
        //表体列绑定
        var cols = [
                { name: 'id', index: 'id', hidden: true },
                { name: 'actioncode', index: 'actioncode', width: 90 },
                { name: 'actionname', index: 'actionname' },
                { name: 'createtime', index: 'createtime', formatter: "date" }];
        //初始化表格的地方
        mycrud.initTableCol(coltitle, cols);
        mycrud.initWindowPara({ AddWindow: [700, 300],EditWindow: [700, 300] } );
        //绑定页面的缩放事件
        $(window).bind('resize', function () {
            var width = $('.jqGrid_wrapper').width();
            $(gridid).setGridWidth(width);
        });
    });
</script>
</html>
