@using System.Text
@using Microsoft.Ajax.Utilities
@using Rainbow.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>菜单列表</title>
    @Styles.Render("~/bundles/modulescss")
    <style type="text/css">
        .checkboxver {
            _vertical-align: -1px;
            vertical-align: -2px;
            font-size: 12px;
            font-family: tahoma;
            margin-top: -2px;
            margin-bottom: 3px;
            outline: none;
            cursor: pointer;
        }

        .checkboxverLA {
            vertical-align: middle;
            font: 12px/1.231 Arial, Times New Roman, Verdana;
            font-size: 12px;
            font-family: tahoma;
            margin-bottom: 3px;
        }
    </style>
</head>
<body>
    @{
        List<sys_menu> nochilds = (List<sys_menu>)ViewBag.NoChilds;
        List<sys_action> actions = (List<sys_action>)ViewBag.Actions;
        List<rel_menuactions> menuactionses = (List<rel_menuactions>)ViewBag.MenuActions;
    }
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-tasks"></i> 菜单按钮配置</h5>
                    <p class="pull-right">

                    </p>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>菜单名称</th>
                                    <th>按钮选项</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var one in nochilds)
                                    {
                                        <tr>
                                            <td>@one.menuname</td>
                                            <td>
                                                @{
                                                    foreach (var act in actions)
                                                    {
                                                        string myid = one.id + act.id;
                                                        <input type="checkbox" id="@myid" class="checkboxver" value="@act.id"><label class="checkboxverLA">@act.actionname</label>
                                                    }
                                                }
                                            </td>
                                            <td><button type="button" class="btn btn-success btn-xs" onclick='javascript:saveOneMenu("@one.id",this);'> 保存</button></td>
                                        </tr>
                                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/jquery")
    @Scripts.Render("~/bundles/modulejs")
    <script type="text/javascript">
        $(function () {
            @{
                foreach (var mm in menuactionses)
                {
                    string myid = mm.menuid + mm.actionid;
                    @Html.Raw("$('#"+myid+"').attr('checked','checked');");
                }}
        });
        var submitMethod = (function () {
            /*初始化函数*/
            function MyMethod() {

            }
            /*保存的路径*/
            MyMethod.SaveAction = '@Url.Action("GetActionTree","MenuinfoManager")';
            /*保存后要回掉显示的方法*/
            MyMethod.msgcall = function (data) {
                //layer.msg('好的', { icon: 6 });//1.对号2.错误3:问号4:锁屏5:不开心6:开心
                switch (data.status) {
                    case "11-001":
                        layer.msg(data.msg, { icon: 6 });
                        break;
                    case "11-002":
                    case "11-003":
                    case "11-004":
                        layer.msg(data.msg, { icon: 2 });
                        break;
                }
            };
            /*提交行为*/
            MyMethod.submitAction = function (menuid, curcheck) {
                var that = this;
                var actionids = [];
                for (var j = 0; j < curcheck.length; j++) {
                    var tmp = curcheck[j];
                    actionids.push($(tmp).val());
                }
                $.post(that.SaveAction, { menuid: menuid, actionids: actionids }, that.msgcall);
            };
            /*返回函数*/
            return MyMethod;
        })();
        var saveOneMenu = function (menuid, cur) {
            var $curChecks = $(cur).parent().prev().find("input[type='checkbox']:checked");
            if ($curChecks.length < 1) {
                layer.msg('尚未勾选任何的操作行为,请重试!', { icon: 5 });
            } else {
                //获得当前选中的按钮的值
                submitMethod.submitAction(menuid, $curChecks);
            }
        };
    </script>
</body>

</html>
